#main {
    padding-top: 74px;
}

@media (min-width: 992px) {
    #main {
      padding-top: 104px;
    }
}    

.hs-bg-primary {
    background-color: rgb(235, 15, 15);
}

.masthead {
    padding-top: 6 rem;
    padding-bottom: 6 rem;
  }

@media (min-width: 992px) {
    .masthead {
      padding-top: 6 rem;
      padding-bottom: 6 rem;
    }
}   

.masthead {
    background-image: url("../img/dental.png");
    background-repeat: no-repeat;
    background-size: cover;
}