{% load widget_tweaks %}
{% load static %}
<body style="background-color:grey;">

<h1>
    <p style="font-family: Arial; color:Blue">Clinica Dental </p>
    <h2>Soluciones dentales para toda la familia</h2>


    <p style="font-family: Arial">
    Atencion las 24 horas, expertos graduados de las mejores universidades del pais
    </p>

    <h3>Secciones</h3>
    <ul>
        <li><a href="/signup">Sign Up</a></li>
        <li><a href="/superuser">superuser</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Sign Up</a></li>
        <li><a href="/signup">Sign Up</a></li>
    </ul>
    
    

</h1>

<img class="masthead-avatar mb-5" src="{%static 'theme/assets/img/avataaars.svg' %}" style="width: 25vw; min-width: 330px;" alt="..." />

</body>