{% url 'home' as home_url %}
{% url 'about' as about_url %}
{% url 'userView' as userView_url %}
{% url 'login' as login_url %}
{% url 'logout' as logout_url %}

<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="{{ home_url }}">Clinica Dental</a>
        <button class="navbar-toggler text-uppercase font-weight-bold hs-bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded {% if request.path == home_url %}active{% endif %}" href="{{ home_url }}">Home</a></li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded {% if request.path == about_url %}active{% endif %}" href="{{ about_url }}">About</a></li>
                {% if user_logged %}
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded {% if request.path == userView_url %}active{% endif %}" href="{{ userView_url }}"> Profile</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded {% if request.path == logout_url %}active{% endif %}" href="{{ logout_url }}">  Logout</a></li>
                {% else %}    
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded {% if request.path == login_url %}active{% endif %}" href="{{ login_url }}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% comment %} <div> 
    {% url 'home' as home_url %}
    <span>{% if request.path == home_url %} Home {% else %}<a href="{%url 'home'%}">Home</a> {% endif %} </span>
    {% url 'about' as about_url %}
    <span><a href="{%url 'about'%}">About</a></span>
    <span style="float:right">
        {% if user.is_authenticated %}
            <span>Hola {{ user.username}}! </span>
            <span><a href="{% url 'logout' %}">Logout</a></span>
        {% else %}
            <span><a href="{% url 'login' %}">Login</a></span>
        {% endif %}
    </span>
</div> {% endcomment %}
