<h1>Logged in</h1>

{% load widget_tweaks %}

    <div class="container">

      <h1>Choose date for appoinmtment</h1>
      {% if saved %}     
      <h2>{{ note }}</h2>
      {% else %}
      <h2>{{ note }}</h2>
      <form action="{% url 'userModify' %}" method="post">
          {% csrf_token %}
          {% for field in dateForm %}
          <div class="form-group">

            {{ field.label_tag }}
            {% render_field field class="form-control" %}

          </div>
          {% endfor %}

          <input type="submit" value="Create new Appointment">
      </form>
      {% endif %}

    </div>