{% extends 'base.html' %}
{% load static %}

{% block title %} Logged In {% endblock %}

{% block content %}

{% load widget_tweaks %}

    <div class="container">

      <h1>Dates for the user {{ user_name }}</h1>
      {% if user_logged %}   
        {% for date in datelist %} 
        <div>{{ date }}</div>
        {% endfor %}
        {% for provider in providerlist %} 
        <div>{{ provider }}</div>
        {% endfor %}
      {% else %}
        <h1>Peppoggies</h1>
      {% endif %}

    </div>
{% endblock %}