{% extends 'base.html' %}
{% load static %}

{% block title %} Logged In {% endblock %}

{% block content %}

{% load widget_tweaks %}

    <div class="container">

      <h1>Choose date for appointment</h1>
      {% if user_logged %}   
      <form action="{% url 'setDate' %}" method="post">
          {% csrf_token %}
          {% for field in dateForm %}
          <div class="form-group">

            {{ field.label_tag }}
            {% render_field field class="form-control" %}

          </div>
          {% endfor %}

          <input type="submit" value="Create new Appointment">
      </form>  
      {% else %}
        <h1>Peppoggies</h1>
      {% endif %}

    </div>
{% endblock %}